body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

/*
===
HEADER
===
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

#navigation {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}

#navigation li{
    list-style: none;
}

#navigation a {
    color: white;
    text-decoration: none;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}

/*
===
MAIN
===
*/

#countdown {
    background-color: hsl(0, 0%, 8%);
    text-align: center;
}

#countdown h1 {
    font-size: 3rem;
}

#lineup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

.card {
    width: 30%;
}

.card h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

.card h2, .card p {
    line-height: 1.2;
}

.card:hover {
    scale: 1.1;
}

#card-description {
    background-color: white;
    color: black;
    position: fixed;
    display: flex;
    gap: 1rem;
    flex-grow: 0;
    width: 75vw;
    height: 100vh;
    top: 0;
    right: -76%;
    transition-duration: 1s;
}

.transform {
    transform: translateX(-100%);
}

.description-content {
    display: flex;
    gap: 1rem;
}

.image {
    width: 50%;
    height: 50%;
    padding-left: 1rem;
    padding-top: 1rem;
}

#card-description li {
    list-style: none;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    height: 100%;
}

.details h2 {
    margin-top: 2rem;
}

.details p {
    line-height: 2rem;
}

.details h1, .details h2 {
    text-align: center;
    font-weight: 700;
    line-height: 1;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

#escape-button {
    position: absolute;
    font-weight: 700;
    text-align: right;
    margin-right: 3rem;
    left: 97%;
}